<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <div>
      <p>name: {{ game.name }}</p>
      <p>appid: {{ game.appid }}</p>
      <p>slug: {{ game.slug }}</p>
      <p>price: {{ game.current_price.price }}</p>
      <div>
        !-- Price History --!
        {% for price in game.prices.all %}
          <div>
            <span>Price: {{ price.price }}</span>
            <span>Date: {{ price.date }}</span>
          </div>
        {% endfor %}
      </div>
      <hr />
      <p>oslist: {% for o in game.os.all %}{{ o }}{% endfor %}</p>
      <p>releasestate: {{ game.release_state}}</p>
      <p>Type: {% for type in game.app_type.all %}{{ type }}{% endfor %}</p>
      <p>Release Date: {{ game.steam_release_date }}</p>
      <p>metacritic score: {{ game.metacritic_score }}</p>
      <p>metacritic url: <a href="{{ game.metacritic_fullurl }}">{{ game.metacritic_fullurl }}</a></p>
      <p>community_visible_stats: {{ game.community_visible_stats }}</p>
      <p>workshop_visible: {{ game.workshop_visible }}</p>
      <p>community_hub_visible: {{ game.community_hub_visible }}</p>
      <p>review_score: {{ game.review_score }}</p>
      <p>review_percentage: {{ game.review_percentage }}</p>

      Languages Supported: 
      {% for lang in game.supported_languages.all %}
      <span>
      {{ lang }} 
      </span>
      {% endfor %}
      <p>
        Publishers: {% for pub in game.publisher.all %}{{ pub }}, {% endfor%}
      </p>
      <p>
        Developers: {% for dev in game.developer.all %}{{ dev }}, {% endfor%}
      </p>
      <p>
        <span>PrimaryGenre: {{ game.primary_genre.genre_id }}: </span>
        <span>{{game.primary_genre.genre_description}}</span>
      </p>
      <p>Genres: {% for genre in game.genres.all %}<span>{{ genre.genre_description }}, </span>{% endfor %}</p>
      <p>Categories: {% for category in game.categories.all %}<span>{{ category.category_description }}, </span>{% endfor %}</p>
      <p>
        icon:
        <a
          href="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.icon }}.jpg"
          target="_blank"
        >
          {{ game.icon }}
        </a>
      </p>
      <p>
        logo:
        <a
          href="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.logo }}.jpg"
          target="_blank"
        >
          {{ game.logo }}
        </a>
      </p>
      <p>
        logo_small:
        <a
          href="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.logo_small }}.jpg"
          target="_blank"
        >
          {{ game.logo_small }}
        </a>
      </p>
      <p>
        clienticon:
        <a
          href="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.clienticon }}.ico"
          target="_blank"
        >
          {{ game.clienticon }}
        </a>
      </p>
    </div>
  </body>
</html>
