<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <div>
      <p>name: {{ game.name }}</p>
      <p>appid: {{ game.appid }}</p>
      <p>slug: {{ game.slug }}</p>
      <p>price: {{ game.price }}</p>
      <p>oslist: {% for o in game.os.all %}{{ o }}{% endfor %}</p>
      <p>releasestate: {{ game.release_state}}</p>
      <p>Type: {% for type in game.app_type.all %}{{ type }}{% endfor %}</p>
      <p>
        Langagues Supported: {% for lang in game.supported_languages.all %}{{
        lang }}, {% endfor %}
      </p>
      <p>
        Publishers: {% for pub in game.publisher.all %}{{ pub }}, {% endfor%}
      </p>
      <p>
        Developers: {% for dev in game.developer.all %}{{ dev }}, {% endfor%}
      </p>
      <p>
        <span>PrimaryGenre: {{ game.primary_genre.genre_id }}: </span>
        <span>{{game.primary_genre.genre_description}}</span>
      </p>
      <p>Genres: {% for genre in game.genres.all %}<span>{{ genre.genre_description }}, </span>{% endfor %}</p>

      <p>
        icon:
        <a
          href="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.icon }}.jpg"
          target="_blank"
        >
          {{ game.icon }}
        </a>
      </p>
      <p>
        logo:
        <a
          href="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.logo }}.jpg"
          target="_blank"
        >
          {{ game.logo }}
        </a>
      </p>
      <p>
        logo_small:
        <a
          href="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.logo_small }}.jpg"
          target="_blank"
        >
          {{ game.logo_small }}
        </a>
      </p>
      <p>
        clienticon:
        <a
          href="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/{{ game.appid }}/{{ game.clienticon }}.ico"
          target="_blank"
        >
          {{ game.clienticon }}
        </a>
      </p>
    </div>
  </body>
</html>
